<<<<<<< HEAD
<h1>Edit Actor</h1>

<%= form_for @actor do |a| %>
  <%= a.text_field :name %>
  <%= a.submit "Update" %>
=======
<h1>Edit</h1>

<%= form_for @actor do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
<% end %>
