<<<<<<< HEAD
<h1>Add a new actor</h1>

<%= form_for @actor do |a| %>
  <%= a.text_field :name, :placeholder => "Name" %>
  <%= a.submit "Add" %>
=======
<h1>Add an actor</h1>

<%= form_for @actor do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.submit %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
<% end %>
