<<<<<<< HEAD
<h1><%= @actor.title %></h1>

<p><%= @actor.year %></p>
=======
<h1><%= @actor.name %></h1>

<div class="black-box">
  <h2>Movies</h2>
  <ul>
    <% @actor.movies.each do |role| %>
    <li>
      <%= link_to "#{role.title} (#{role.year})", movie_path(role) %>
      <%= button_to "X", remove_movie_path(@actor, role), :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @movies.empty? %>
    <%= form_tag add_movie_path do |f|%>
      <%= collection_select :movie, :id, @movies, :id, :title %>
      <%= submit_tag "Add" %>
    <% end %>
  <% end %>
</div>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05

<%= link_to "Edit", edit_actor_path(@actor) %>
<%= button_to "Delete", actor_path(@actor), :method => :delete %>
<br><br>

<<<<<<< HEAD
<%= link_to "Back to all actors", actors_path %>
=======
<%= link_to "Back to actors", actors_path %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
